{% extends 'main.html' %}

{% block title%} OTS - Candidate Home Page {%endblock title%}
{% block top%}
<a href="{% url 'OTS:home' %}">Home</a>
<a href="{% url 'OTS:logout' %}">Logout</a>
{%endblock %}
{% block content %}
<h1><i class="fa fa-home"></i>  Welcome {{request.session.name}}, to your home page</h1>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=1"><i class="fa fa-pencil"></i>  Test of 1 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=3"><i class="fa fa-pencil"></i>  Test of 3 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=5"><i class="fa fa-pencil"></i>  Test of 5 Question</a>
</div>

<div class="button-link">
    <a href="{% url 'OTS:testHistory' %}"><i class="fa fa-book"></i> Test History</a>
</div>
{% endblock %}